<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: #f3e8ff;
        }
        h1{
            text-align: center;
        }
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
    </style>
</head>
<body>
    <h1>Adicionar na tabela</h1>
    <form action="" method="get">
        <input type="text" placeholder="Nome" required>
        <input type="text" placeholder="pedido" required>
        <input type="datetime-local" placeholder="pedido" required>
        <input type="text" placeholder="valor R$">
        <button>Enviar</button>
    </form>
</body>
</html>